<md-card class="no-padding">
  <md-card-header>
    <md-icon md-card-avatar>schedule</md-icon>
    <md-card-title>Zeitplan</md-card-title>
    <md-card-subtitle>Zeitgesteuert Aktivieren</md-card-subtitle>
  </md-card-header>
  <md-list>
    <md-list-item>Montag</md-list-item>
    <md-list-item>Dienstag</md-list-item>
    <md-list-item>Mittwoch</md-list-item>
    <md-list-item>Donnerstag</md-list-item>
    <md-list-item>Freitag</md-list-item>
    <md-list-item>Samstag</md-list-item>
    <md-list-item>Sonntag</md-list-item>
  </md-list>
</md-card>
